body {
    margin: 0;
  }
  body {
    background-color: #e6e6e4f2;
    margin: 0;
}
  .board {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    align-content: center;
    justify-content: center;
    border-collapse: collapse;
  }
  .header {
    background-image: linear-gradient(to left, #15d2d2, rgb(90, 95, 152), rgba(207, 116, 116, 0.947));
    text-align: center;
    font-size: 1.3rem;
    padding: 5px;
}
  .cell {
  border: 2px solid black; 
  }
  .cell:nth-child(1),
  .cell:nth-child(2),
  .cell:nth-child(3) {
      border-top: none;
  }
  
  .cell:nth-child(1),
  .cell:nth-child(4),
  .cell:nth-child(7) {
      border-left: none;
  }
  
  .cell:nth-child(3),
  .cell:nth-child(6),
  .cell:nth-child(9) {
      border-right: none;
  }
  
  .cell:nth-child(7),
  .cell:nth-child(8),
  .cell:nth-child(9) {
      border-bottom: none;
  }
  .cell[data-marker="x"]::before {
    content: "X";
    font-size: 110px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.cell[data-marker="o"]::before {
    content: "O";
    font-size: 110px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
